extends layout

block content
  .container.mt-5
    h1 User List
    table.table.table-striped
      thead
        tr
          th Name
          th Age
          th Email
      tbody
        each user in users
          tr
            td= user.name
            td= user.age
            td= user.email