doctype html
html
  head
    title Product List
    style.
      .in-stock {
        color: green;
      }
      .out-of-stock {
        color: red;
      }
  body
    h1 Product List
    table(border="1")
      thead
        tr
          th Name
          th Price
          th Status
      tbody
        each product in products
          tr
            td #{product.name}
            td $#{product.price.toFixed(2)}
            td(class=product.inStock ? "in-stock" : "out-of-stock")
              if product.inStock
                | In Stock
              else
                | Out of Stock